/* #Media Queries
================================================== */


/* Smaller than standard 1500 (devices and browsers) */

@media only screen and (min-width:1500px) {
    .container{
        max-width: 1170px;
    }
}

@media only screen and (min-width:1025px) and (max-width:1199px) {
    .container{
        max-width: 1170px;
    }
	header .header-tools ul{
		margin: 12px 0;
	}
	header .header-tools ul li{
		line-height: 40px;
		padding: 0 7px;
	}
	.header-tools ul li a.dropdown-toggle {
    	padding-bottom: 25px;
	}
	header .header-tools ul li span.icon{
		width: 18px;
	}
	
	
	
/* ---------------------------
	CART PAGE
-------------------------------*/
	/*.shopping-cart [class*="col-"],
	.shopping-cart [class^="col-"]{
		max-width: 100%;
	}*/

	/*.shopping-cart .product-cart-info{
		text-align: center;
	}
	.product-cart-img{
		border: none;
		text-align: center;
	}
	.product-cart-info{
		margin-top: 10px;
		padding: 0 5px;
	}*/
/*	.cart-review-content .cart-remark .fix-width{
		width: 100%;
		margin-bottom: 10px;
		line-height: 18px;
		position: relative;
	}
	.cart-remark .cart-price.fix-width,
	.cart-remark .sub-total.fix-width{
		height: 18px;
	}
	.cart-remark .cart-price.fix-width h6,
	.cart-remark .sub-total.fix-width h6,
	.cart-remark .fix-width h6{
		display: none;
	}
	.cart-remark {
	    display: inline-block;
	    width: 100%;
	    margin-top: 10px;
	}
	.cart-review-content .cart-remark .fix-width {
	    width: 100%;
	    margin-bottom: 10px;
	    line-height: 18px;
	    position: relative;
	}
	.cart-review-content .cart-remark .fix-width .sin-plus-minus .qty-section {
	    display: inline-block;
	    position: relative;
	    left: 50px;
	}
	.cart-qty div.qty-section > input{
		width: 29%;
	}
	.cart-qty .qty-section .QtyValidation span, 
	.cart-qty .qty-section .message span{
		float: none;
		text-align: left;
		width: 100%;
	}*/



	.cart-review-content .cart-remark .fix-width .sin-plus-minus{
		
	}
	.qty-section .btn-minus .fa, .qty-section .btn-plus .fa{
		line-height: 30px;
	}
	.cart-qty .qty-section .message span{
		float: none;
		line-height: 18px;
	}
	.cart-review-content .cart-remark .fix-width .sin-plus-minus .qty-section{
		display: inline-block;
	}
	.cart-qty div.qty-section > input{
		max-width: 20%;
	}
	/*.cart-review-content.gray-bg [class*="col-md"]{
		float: none;
		clear: both;
		max-width: 100%;
		margin-top: 10px;
	}*/
	/*.product-cart-img{
		border: none;
		text-align: center;
	}
	.product-cart-img img{
		border: 1px solid #ddd;
	}*/
	.card .button-group .btn{
		margin-bottom: 5px;
	}
	.product-detail [class*="col-sm"].product-image, 
	.product-detail [class^="col-sm"].product-image, 
	.product-detail [class*="col-sm"].product-summary, 
	.product-detail [class^="col-sm"].product-summary {
	    max-width: 100%;
	    flex: unset;
	}
	.product-detail .product-image{
		padding-right: 15px;
	}
	.product-buynow .tab-content, .product-detail-page .tab-content {
    	padding: 20px 0 0 0;
	}

	/*.product-cart-info{
		text-align: center;
	}
*/
	/*.cart-btn .update_shopping.pull-right{
		float: none;
	}
	.cart-btn .update_shopping.pull-right a{
		width: 100%
	}*/

/*-----------------------
    DASHBOARD
-----------------------*/
	.reqpattern .user_info label[class*="col-lg"]{
		float: left;
		width: 15%;
	}
	.reqpattern .user_info [class*="col-lg"]{
		float: left;
		width: 100%;
	}
	.reqpattern .user_info input[type="text"]{
		
		width: 100%
	}
	/*.reqpattern .control-label + [class*="col-lg"] input[type="text"]{
		width: 75%;
	}*/
	.required_wrap .profile-form .user_info .control-label + [class*="col-lg"] input[type="text"]{
		/* float: none; */
		text-align: left;
		width: 100%;
	}
	.required_wrap .profile-form .control-label{
		text-align: left;
		width: 16%;
		float: left;
	}


}


/* Tablet Portrait size to standard 970 (devices and browsers) */

@media only screen and (min-width:768px) and (max-width:970px) {
	.logreg-wrapper [class*="col-md"].pull-left,
	.logreg-wrapper [class*="col-md"].pull-left{
		max-width: 60%;
		flex: 100%;
	}
	.logreg-wrapper [class*="col-md"].pull-right,
	.logreg-wrapper [class*="col-md"].pull-right{
		max-width: 40%;
		flex: 100%;
	}
}

@media only screen and (min-width:768px) and (max-width:1024px) {
/*-----------------------
    HEADER
-----------------------*/
	header .main-menu{
		text-align: left;
	}
	header .main-menu > ul > li:first-child{
		padding-left: 5px;
	}
	header .main-menu > ul > li{
		padding-left: 15px;
		padding-right: 15px;
	}
	header .main-menu > ul > li:last-child{
		padding-right: 0;
	}
/*	header [class*="col-"].mega-menu,
	header [class*="col-"].mega-menu{
		width: 38.667%;
	}
	header [class*="col-"].mega-menu + [class*="col-"],
	header [class*="col-"].mega-menu + [class*="col-"]{
		max-width: 44.667%;
		flex: 50%;
	}
	header .header-tools ul li span.icon{
		width: 18px;
	}*/
	header .header-tools .topnav-rgt ul.dropdown-menu{
		margin-top: 3px;
	}
	header .header-tools ul li{
		line-height: 27px;
		padding: 0 10px;
	}
	
/*-----------------------
    PRODUCTS
-----------------------*/
	.product-detail-bottom .product-btns a.btn-lg{
		margin-bottom: 15px;
		width: 100%;
	}
	.product-detail-bottom .product-btns a.btn-lg:last-child{
		margin-bottom: 0;
	}
	.card-body .button-group a.btn-gray{
		margin-bottom: 5px;
	}
	.product-buynow .product-detail .form-group input{
		width: 69%;
	}
	.product-buynow .product-detail .form-group.qty-section input{
		width: 51%;
	}
	.cart-remark .cart-price.fix-width h6,
	.cart-remark .sub-total.fix-width h6,
	.cart-remark .fix-width h6{
		display: none;
	}
	.cart-remark {
	    display: inline-block;
	    width: 100%;
	    margin-top: 10px;
	}
	.cart-review-content .cart-remark .fix-width {
	    width: 100%;
	    margin-bottom: 10px;
	    line-height: 18px;
	    position: relative;
	}
	.cart-review-content .cart-remark .fix-width .sin-plus-minus .qty-section {
	    display: inline-block;
	    position: relative;
	    left: 50px;
	}
	.cart-qty div.qty-section > input{
		width: 29%;
	}
	.cart-qty .qty-section .QtyValidation span, 
	.cart-qty .qty-section .message span{
		float: none;
		text-align: left;
		width: 100%;
	}
	.product-detail-page .QtyValidation span.text-danger{
		margin-top: 10px;
	}
	.product-cart-info{
		margin: 10px 0;
		text-align: center;
	}
	.cart-review-content.gray-bg [class*="col-md"]{
		float: none;
		clear: both;
		max-width: 100%;
		margin-top: 10px;
	}
	.product-cart-img{
		border: none;
		text-align: center;
	}
/*-----------------------
    FOOTER
-----------------------*/
	.deliver-product li{
		margin-bottom: 20px;
	}
/*-----------------------
    DASHBOARD
-----------------------*/

	.reqpattern .user_info input[type="text"]{
		width: 49%;
		margin-left: 10px;
		float: left;
	}
	
	.reqpattern .user_info .control-label + [class*="col-lg"] input[type="text"]{
		margin-left: 0;
	}
	.required_wrap .profile-form .control-label{
		text-align: left;
	}
	.user-formcontrol input[type="text"]{
		width: 100%;
	}
}

@media only screen and (min-width:768px) and (max-width:1023px) and (orientation:portrait) {

}

@media only screen and (min-width:768px) and (max-width:1024px) and (orientation:landscape) {
/*-----------------------
    HEADER
-----------------------*/
	/* header .main-menu > ul > li:first-child {
	    padding-left: 40px;
	}
	header .main-menu > ul > li{
		padding-left: 25px;
		padding-right: 25px;
	} */

/*-----------------------
    DASHBOARD
-----------------------*/
	.reqpattern .user_info label[class*="col-lg"]{
		float: left;
		width: 15%;
	}
	.reqpattern .user_info [class*="col-lg"]{
		float: left;
		width: 100%;
	}
	.reqpattern .user_info input[type="text"]{
		
		width: 100%
	}
}



/* All Mobile Sizes (devices and browser) */

@media only screen and (max-width:767px) {

/*-----------------------
    HEADER
-----------------------*/
	.container{
		max-width: 100%;
	}
	.mega-menu{ display: none; }
	.responsive-top-header{
		position: absolute;
		top: 0;
		right: 0;
		z-index: 9999;
		display: block;
	}
	.nav-toggle {
	  clear: both;
	  display: block;
	  float: left;
	  padding: 10px;
	  width: 100%;
	  position: relative;
	  z-index: 1;
	  margin-top: 10px;
	}
.nav-toggle div.top-nav-toggle {
  float: right;
  margin-left: 10px;
  margin-top: 8px;
}
.top-nav-toggle > a {
  color: #fff;
  font-size: 22px;
  line-height: 18px;
  margin-right: 10px;
}
.top-nav-toggle > a.top-search-iocn{
	font-size: 18px;
}
#billingopt.top-header.collapse.in{
	padding: 0;
}
.top-header .text-right.hover-dropdown {
  float: left;
  line-height: 30px;
}
.dropdown .dropdown-content.dropdown-menu {
  margin-top: 4px;
}
#hamburger {
  width: 22px;
  height: 18px;
  float: right;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#hamburger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: var(--primary-color);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#hamburger span:nth-child(1) {
  top: 2px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger span:nth-child(2) {
  top: 9px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger span:nth-child(3) {
  top: 17px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.responsive-pushnav{
	display: block;
}
.top-header, .megamenu{
	display: none;
}
.responsive-pushnav span.opennav-icon {
  float: right;
  margin-right: 15px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:left;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #575757;
    display: block;
    transition: 0.3s;

}

.sidenav a:hover{
    color: #575757;
}
ul#menu li.login-logoutbtn{
	border-top: 1px solid var(--border-color);
	padding-top: 15px;
	margin-top: 10px;
	color: var(--text-color);
}
ul#menu li.login-logoutbtn .icon{
	width: 20px;
	float: left;
	margin-right: 10px;
	margin-left: 10px;
}
ul#menu li.login-logoutbtn .icon + a{
	float: left;
	padding: 0;
	margin-right: 10px;
}
ul#menu li.login-logoutbtn a + a{
	padding: 0;
	display: initial;
	margin-left: 5px;
}
.ap-ddmenu a:hover{
	color: var(--primary-color) !important;
}
.sidenav .closebtn {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  margin-left: 0;
  padding: 0;
  position: absolute;
  right: 25px;
  top: 0;
}
#menu-wrapper{ display: block; width: 100%; font-family: Helvetica; color: #fff; }
.ap-ddmenu-header {
	background: none;
	background-image: none;
	color: #575757;
	text-shadow: none;
}
.ap-ddmenu-header .ap-ddmenu-back {
  font-size: 25px;
  margin-top: -3px;
  padding: 0;
  text-shadow: none;
}
.sidenav {padding-top: 30px;}
.sidenav a {font-size: 16px;}
.mid-header .search-box{ display: none; }
.search-box .dropdown { float: left; }
.mid-header .search-box .btn, .mid-header .search-box .form-control{ height: 35px; }
.nav-toggle .search-box{ display: block; }
.nav-toggle .search-box .dropdown button#dropdownMenu1, 
.nav-toggle .search-box .input-group button {
  border: medium none;
  color: #d5d5d5;
  font-size: 13px;
  height: 35px;
  padding: 0 10px;
}
.nav-toggle .search-box .dropdown button#dropdownMenu1{ padding-left: 33px; }
.nav-toggle .search-box .dropdown button#dropdownMenu1:hover,
.nav-toggle .search-box .dropdown button#dropdownMenu1:focus,
.nav-toggle .search-box .dropdown button#dropdownMenu1:active{
	background: #fff;
	box-shadow: none;
	color: #d5d5d5;
	outline: none;
}
.nav-toggle .search-box .dropdown.open button#dropdownMenu1{
	color: #742b96;
	background: #fff;
}
.nav-toggle .search-box .dropdown [class^="flaticon-"]::before, 
.nav-toggle .search-box .dropdown [class*="flaticon-"]::before, 
.nav-toggle .search-box .dropdown [class^="flaticon-"]::after, 
.nav-toggle .search-box .dropdown [class*="flaticon-"]::after{ font-size: 22px; line-height: 1px; position: absolute; left: 10px; top: 17px; }
.nav-toggle .search-box .input-group button{
	background: none;
	color: #fff;
}
	.responsive-pushnav{ display: block; }
	header [class*="col-md"],
	header [class^="col-md"]{
	  	width: 40%;
	  }
	header [class*="col-md"]:last-child,
	header [class^="col-md"]:last-child{
		padding: 0;
	}
	header .header-tools{
	  	border: none;
	}
	header .header-tools ul{
		margin: 0;
	}
	header .header-tools ul li{
		border-right: none;
		line-height: 18px;
		border-right: 1px solid var(--border-color)
	}
	header .header-tools ul li:first-child{
		border-left: none;
		line-height: 30px;
	}
	.header-tools ul li a.dropdown-toggle{
		padding-bottom: 0;
	}
    header .header-tools li:nth-of-type(2){
		display: none;
    }
    .nav-toggle div.top-nav-toggle{ 
    	margin-left:0;
     }
	.nav-toggle{ 
		margin-right: 5px;
	 }
	 header .header-tools{
	 	margin-top: 15px;
	 }

/*-----------------------
    SLIDER
-----------------------*/
.slider{
	margin-top: 31px;
}
.slider .owl-carousel .owl-dots{
	right: -7px;
}
/*-----------------------
    LOGIN
-----------------------*/
.logreg-wrapper [class*="col-md"],
.logreg-wrapper [class*="col-md"]{
	max-width: 100%;
	flex: 100%;
}
.login-txt-left{
	display: none;
}
/*-----------------------
    PRODUCTS
-----------------------*/
	figure.feat-product-item figcaption{
		display: block;
	}
	figure.feat-product-item:after{
		opacity: 1;
	}
    .large-block figure.feat-product-item{
        margin-bottom: 30px;
    }
    .medium-block .feat-product-item{
        margin-bottom: 30px;
    }
    .xzoom-container{
    	text-align: center;
    }
    .xzoom{
    	width: auto !important;
		margin-left: 0;
    }
    .xzoom-thumbs {
	    display: inline-block;
	    height: 65px;
	    white-space: nowrap;
	    overflow-x: auto;
	    overflow-y: hidden;
	    position: unset;
	    width: 100%;
	}
	.xzoom-thumbs a {
	    display: inline-block;
	    margin-right: 5px;
	}
	.xzoom-gallery {
	    height: 65px;
	}
	.product-detail .product-summary{
		margin-top: 30px;
	}
	.QtyValidation span.text-danger{
		margin-top: 5px;
		margin-left: 5px;
	}
	.product-detail-bottom .share{
		margin-bottom: 30px;
	}
	.product-detail-bottom .product-btns a.btn-lg{
		margin-bottom: 15px;
		width: 100%;
	}
	.product-detail-bottom .product-btns a.btn-lg:last-child{
		margin-bottom: 0;
	}
	.owl-carousel.owl-loaded{
		padding-right: 15px;
	}
	.advertise-block .adv-content{
		margin-top: 0;
	}

/* ---------------------------
	PRODUCT SUMMARY
-------------------------------*/
.product-summary .qty-section .quantity{
	max-width: 66px;
}
.product-summary .qty-section .btn-minus, .product-summary .qty-section .btn-plus{
	width: 13%;
}



/* ---------------------------
	CART PAGE
-------------------------------*/
	.shopping-cart [class*="col-"],
	.shopping-cart [class^="col-"]{
		max-width: 100%;
		flex: 100%;
	}

	.shopping-cart .product-cart-info{
		text-align: center;
	}
	.product-cart-img{
		border: none;
		text-align: center;
	}
	.product-cart-info{
		margin-top: 10px;
		padding: 0 5px;
	}
	.cart-review-content .cart-remark .fix-width{
		width: 100%;
		margin-bottom: 10px;
		line-height: 18px;
		position: relative;
	}
	.cart-remark{
		display: inline-block;
		width: 100%;
		margin-top: 10px;
	}
	.cart-remark .cart-price.fix-width,
	.cart-remark .sub-total.fix-width{
		height: 18px;
	}
	.cart-remark .cart-price.fix-width h6,
	.cart-remark .sub-total.fix-width h6{
		float: left;
		position: absolute;
		left: 50%;
		margin-left: -70px;
	}
	.cart-remark .cart-price.fix-width h6,
	.cart-remark .sub-total.fix-width h6,
	.cart-remark .fix-width h6{
		display: none;
	}
	/*.cart-remark .cart-price.fix-width span,
	.cart-remark .sub-total.fix-width span{
		float: left;
		position: absolute;
		right: 50%;
		margin-right: -50px;
	}*/
	.cart-review-content .cart-remark .fix-width .sin-plus-minus{
		
	}
	.qty-section .btn-minus .fa, .qty-section .btn-plus .fa{
		line-height: 30px;
	}
	.cart-qty .qty-section .message span{
		float: none;
	}
	.cart-review-content .cart-remark .fix-width .sin-plus-minus .qty-section{
		display: inline-block;
		position: relative;
		left: 50px;
	}
	.cart-review-content .cart-remark .fix-width .sin-plus-minus .qty-section span{
		margin-left: -90px;
	}
	.cart-review-content .cart-remark .fix-width .sin-plus-minus .qty-section .message{
		text-align: left;
		padding-right: 40px;
	}
	.cart-review-content .cart-remark .fix-width .sin-plus-minus .qty-section .message span,
	.cart-review-content .cart-remark .fix-width .sin-plus-minus .qty-section .QtyValidation span{
		line-height: 16px;
		margin-left: 0;
	}
	.cart-qty div.qty-section > input{
		max-width: 29%;
	}
	.cart-review-content.gray-bg [class*="col-md"]{
		float: none;
		clear: both;
		max-width: 100%;
		margin-top: 10px;
	}
	.cart-remark .cart-delete.fix-width{
		margin-top: 10px;
	}
	.product-cart-img{
		border: none;
		text-align: center;
	}
	.product-cart-img img{
		border: 1px solid #ddd;
	}
	.card .button-group .btn{
		margin-bottom: 5px;
	}
	.product-detail [class*="col-sm"].product-image, 
	.product-detail [class^="col-sm"].product-image, 
	.product-detail [class*="col-sm"].product-summary, 
	.product-detail [class^="col-sm"].product-summary {
	    max-width: 100%;
	    flex: unset;
	}
	.product-detail .product-image{
		padding-right: 15px;
	}
	.product-buynow .tab-content, .product-detail-page .tab-content {
    	padding: 20px 0 0 0;
	}

	.product-cart-info{
		text-align: center;
	}
	.cart-btn .update_shopping.pull-right{
		float: none;
	}
	.cart-btn .update_shopping.pull-right a{
		width: 100%
	}

/* ---------------------------
	ORDER RECEIVED PAGE
-------------------------------*/
	.received_order{
		padding: 30px 15px;
	}
	.received_detail{
		padding-left: 0;
	}
	.received_detail .pull-right{
		float: none !important;
	}
	.received_detail .pull-right a.btn{
		width: 100%;
	}

/*-----------------------
    FOOTER
-----------------------*/
    .about .about-desc{
        width: 100%;
    }

    .deliver-product li{
        margin-bottom: 20px;
    }
    footer .footer-menu{
    	text-align: center;
    }
    footer .footer-menu li{
    	width: 100%;
    	line-height: 30px;
    	margin-right: 0;
    }
    .bottom-footer [class*="col-md"],
	.bottom-footer [class^="col-md"]{
	    max-width: 50%;
	}

/*-----------------------
    DASHBOARD
-----------------------*/
	.reqpattern.profilehead-wrap{
		padding: 30px 15px;
	}
	.required_wrap .profile-form .control-label{
		text-align: left;
		width: 100%;
	}
	.user-formcontrol input[type="text"]{
		width: 100%;
	}
	.reqpattern .user_info input[type="text"]{
		margin-bottom: 10px;
		width: 100%;
	}
	.profilehead-wrap .useradio label{
		float: left;
	}
	.profilehead-wrap .useradio label:last-child{
		margin-right: 0;
	}
	.profilehead-wrap .userCpassword .form-group{
		width: 100%;
		padding: 0;
	}
	.userCpassword input[type="submit"]{
		margin: 0;
		width: 100%
	}

}



/*-----------*/


/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) {
}

@media only screen and (max-width:640px) {
	header .header-tools{
	 	margin-top: 0;
	 }
}



/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */

@media only screen and (max-width:480px) {
/*-----------------------
    	FOOTER
-----------------------*/
	.social-icons{
		text-align: center;
	}
/*-----------------------
    PRODUCTS
-----------------------*/
	.product-list .owl-carousel.owl-drag .owl-item .card{
		padding-right: 0;
	}
	.QtyValidation span.text-danger{
		margin-left: 0;
	}
}

@media only screen and (max-width: 479px){
/*-----------------------
    HEADER
-----------------------*/

	header .header-tools ul li{
		font-size: 12px;
		padding: 0;
		border-right: none;
	}

/*-----------------------
    PRODUCTS
-----------------------*/

	.product-buynow .product-detail .form-group label,
	.product-buynow .product-detail .form-group input
	{
		width: 100%;
		max-width: 100%;
	}
	.product-buynow .product-detail .form-group input.quantity{
		max-width: 82%;
	}




/*-----------------------
   	FOOTER
-----------------------*/
	.social-icons{
		text-align: center;
	}
/* ---------------------------
	ORDER RECEIVED PAGE
-------------------------------*/
	.received_order{
		width: auto;
	}
/* ---------------------------
	LOGIN OR REGISTER PAGE
-------------------------------*/
	.logreg-wrapper .centered-form  [class*="col-md"]{
		max-width: 100%;
	}
	.form-horizontal .join_reg_right .form-group{
		margin-left: -15px;
	}
/*-----------------------
    DASHBOARD
-----------------------*/
	.info-table td.info-proj-operate{
		position: absolute;
		left: 0;
		bottom: -10px;
		text-align: right;
		width: 100%;
		padding-bottom: 0;
	}
}

@media only screen and (max-width:320px) {
/*-----------------------
    SLIDER
-----------------------*/
	.slider{
		margin-top: 0;
	}
/*-----------------------
    PRODUCTS
-----------------------*/
}