:root{
  --primary-color:#0094D9;
  --secondary-color:#FF8500;
  --dark-color:#121B21;
  --text-color:#54666F;
  --border-color:#D1D2D7;
  --error-color: #FF9494;
}
html{ height: 100%; }
body{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	color: var(--text-color);
}
body.home{
	overflow: hidden;
}
ul{
	list-style-type: none;
	padding-left: 0;
}

img{
	max-width: 100%;
}

a,
a:hover,
a:focus{
	text-decoration: none;
}


ol.breadcrumb{
	float: right;
	background-color: transparent;
}
ol.breadcrumb li,
ol.breadcrumb a{
	text-transform: uppercase;
	font-size: 12px;
	color: var(--text-color);
}
em{
	font-style: normal;
}
.breadcrumb-item.active{
	color: var(--primary-color);
}
.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: #6c757d;
    content: "\f105 ";
    font-family: 'FontAwesome';
}

.mt30{
	margin-top: 30px;
}

.page-title{
	clear: both;
}
.page-title h4, .page-title h2{
	font-weight: 600;
	text-transform: uppercase;	
	color: var(--primary-color);
}
.page-title h4:after, .page-title h2:after{
	content: "";
	display: block;
	width: 55px;
	height: 1px;
	background-color: var(--dark-color);
	margin-top: 10px;
}

.bg-cover{
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.btn{
	padding:5px 15px;
	text-transform: uppercase;
	font-size: 12px;
}
.btn.btn-gray{
	border-color:var(--text-color);
	color: var(--text-color);
}
.btn.btn-gray:hover{
	color: #fff;
	background-color: var(--text-color);
}
.btn.btn-blue{
	border-color:var(--primary-color);
	color: var(--primary-color);
}
.btn.btn-blue:hover{
	color: #fff;
	background-color: var(--primary-color);
}
.lg-btn-group .btn{
	margin-right: 15px;
}
.lg-btn-group .btn:last-child{
	margin-right: 0;
}
.btn.btn-lg{
	width: 250px;
	padding:10px 0;
	font-weight: bold;
	font-size: 16px;
	display: inline-block;
	border-radius: 0;
	-webkit-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
.btn.btn-lg:hover,
.btn.btn-lg:active,
.btn.btn-lg:focus{
	border-radius: 50px;
	outline: none;
	box-shadow: none;
}
.btn.btn-lg-gray-blue{
	background-color: var(--text-color);
	color: #fff;
	-webkit-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
.btn.btn-gray-blue:hover{
	background-color: var(--primary-color);
}
.btn.btn-lg-blue{
	background-color: var(--primary-color);
	color: #fff;
	-webkit-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
.btn.btn-lg-blue-o{
	border-color: var(--text-color);
	color: var(--tex-color);
}

.btn.btn-lg-blue-o:hover{
	border-color: var(--primary-color);
	background-color: var(--primary-color);
	color: #fff;
}

.disabled{
	pointer-events: none;
	opacity: 0.65;
}

/* -------------------------------------
Check Box and Radio THEME CSS
--------------------------------------- */


input{
	-webkit-appearance: none;
}
input[type="checkbox"], input[type="radio"] {
    display:none;
}

input[type="checkbox"] + label,
input[type="radio"] + label{
  color: #575757;
  padding-left: 0;
  font-size: 13px;
  position: relative;
  text-transform: capitalize;

  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}



input[type="checkbox"] + label span, 
  input[type="radio"] + label span{
  border: 1px solid #ccc;
  border-radius: 3px;
  display:inline-block;
  width:15px;
  height:15px;
  margin:-2px 10px 0 0;
  vertical-align:middle;
  cursor:pointer;
}

input[type="checkbox"]:checked + label span::before,
input[type="radio"]:checked + label span:before {
  display: block;
  font-family: "fontawesome";
  font-size: 11px;
  position: absolute;
} 

input[type="checkbox"]:checked + label span::before {
  content: "\f00c";
  left: 2px;
  top: 3px;
}

input[type="radio"] + label span {
  border-radius: 50px;
}

input[type="radio"]:checked + label span::before {
  content: "\f111";
  font-size: 7px;
  left: 5px;
  top: 6px;
}
.nofocus, .nofocus:focus{
	border: none !important;
}
.form-control:focus{
	box-shadow: none;
	border: 1px solid var(--primary-color);
}

/* -------------------------------------
OWL-CAROUSEL THEME CSS
--------------------------------------- */
.owl-theme .owl-nav {
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}

.owl-theme .owl-nav [class*='owl-']:hover {
    background: #869791;
    color: #FFF;
    text-decoration: none;
}

.owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px;
}

.owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #869791;
}

/* -----------------------------
Global XZOOM CSS 
--------------------------------*/

/* Compatibility styles for frameworks like bootstrap, foundation e.t.c */
.xzoom-source img, .xzoom-preview img, .xzoom-lens img {
  display: block;
  max-width: none;
  max-height: none;
}
/* --------------- */

/* xZoom Styles below */
.xzoom-container { 
  display: inline-block;
  position: relative;
  width: 100%; 
  margin-bottom: 15px;
}

.xzoom-thumbs {
  left: 0;
  margin-bottom: 10px;
  position: absolute;
  top: 0;
  width: 80px;
}

.xzoom {
  border: 1px solid #ccc;  
  margin-bottom: 15px;
  margin-left: 90px; 
  width: 85% !important;
}

/* Thumbs */
.xzoom-gallery { 
  border: 1px solid #ccc;
  display: block;
  margin-bottom: 5px;
  width: 80px;
}

.xzoom-source, .xzoom-hidden {
  display: block;
  position: static;
  float: none;
  clear: both;
}

/* Everything out of border is hidden */
.xzoom-hidden {
  overflow: hidden;
}

/* Preview */
.xzoom-preview {
  border: 1px solid #888;
  background: #2f4f4f;
  box-shadow: -0px -0px 10px rgba(0,0,0,0.50);
}

/* Lens */
.xzoom-lens {
  border: 1px solid #555;
  box-shadow: -0px -0px 10px rgba(0,0,0,0.50);
  cursor: crosshair;
}

/* Loading */
.xzoom-loading {
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 100%;
  opacity: .7;
  background: url(../images/xloading.gif);
  width: 48px;
  height: 48px;
}

/* Additional class that applied to thumb when it is active */
.xactive { 
  border: 1px solid var(--primary-color);
}

/* Caption */
.xzoom-caption {
  position: absolute;
  bottom: -43px;
  left: 0;
  background: #000;
  width: 100%;
  text-align: left;
}

.xzoom-caption span {
  color: #fff;
  font-family: Arial, sans-serif;
  display: block;
  font-size: 0.75em;
  font-weight: bold;
  padding: 10px;
}
/*-----------------------
	HEADER
-----------------------*/
header{
	height: 70px;
	border-bottom: 1px solid var(--border-color);
	position: relative;
	margin-bottom: 35px;
}
header .logo{
	position: relative;
	z-index: 1031;
}
header .main-menu{
	text-align: center;
}
header .main-menu ul{
	margin-bottom: 0;
}
header .main-menu > ul > li{
	display: inline-block;
	/* margin-right: 50px; */
	padding-left: 25px;
	padding-right: 25px;
	line-height: 69px;
}
header .main-menu > ul > li:first-child{
	padding-left: 40px;
}
header .main-menu > ul > li:last-child{
	margin-right: 0;
}
header .main-menu > ul > li > a{
	color: #121B21;
	font-size: 16px;
	font-weight: 700;
	display: block;
	text-transform: uppercase;
	position: relative;
}
header .main-menu > ul > li > a:after{
	content: "";
	display: block;
	width: 100%;
	height: 4px;
	position: absolute;
	bottom: 0;
	display: none;
	background-color: var(--secondary-color);
}
header .main-menu li a:hover{
	color: var(--primary-color);
}
header .main-menu li a:hover:after{
	display: block;
}


header .mega-menu{
	position: static;
}
header .mega-menu li {
	line-height: normal;
	padding-bottom: 10px;
}
header .mega-menu li .sub-menu{
	background: var(--dark-color);
	position: absolute;
	color: #fff;
	/* width: 100vw; */
	width: 100%;
	left: 0;
	text-align: left;
	padding: 40px 0;
	top: 80px;
	display: none;
	z-index: 1020;
}
header .mega-menu li .sub-menu ul{
	position: relative;
	margin-top: 15px;
}
header .mega-menu .sub-menu li{
	min-height: 20px;
}
header .mega-menu .sub-menu .mega-title a{
	font-weight: 600;
	text-transform: uppercase;
	font-size: 16px;
	color: var(--primary-color);
}
header .mega-menu .sub-menu .mega-title a:hover{
	font-size: 16px;
}
header .mega-menu .sub-menu a{
	text-transform: capitalize;
	color: #fff;
	font-size: 13px;
}
header .mega-menu .sub-menu a:hover,
header .mega-menu .sub-menu a:active,
header .mega-menu .sub-menu a:focus{
	color: var(--secondary-color);
}

header .mega-menu .main-menu > ul > li:hover .sub-menu{
	display: block;
}


header .header-tools{
	text-align: right;
}
header .header-tools ul{
	margin: 10px 0;
	display: inline-block;
}
.header-tools ul li a.dropdown-toggle{
	padding-bottom: 25px;
}
.header-tools ul li a.dropdown-toggle::after{
	content: none;
}
header .header-tools .topnav-rgt ul.dropdown-menu{
	display: none;
	margin-top: 9px;
	min-width: 149px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding: 0;
}
header .header-tools .topnav-rgt:hover ul.dropdown-menu{
	display: block;
}
header .header-tools .topnav-rgt ul.dropdown-menu li{
	border-right: none;
	border-left: none;
	border-bottom: 1px solid var(--border-color);
	width: 100%;
	padding: 0;
	text-align: left;
	line-height: 35px;
}
header .header-tools .topnav-rgt ul.dropdown-menu li:last-child{
	border-bottom: none;
}
header .header-tools .topnav-rgt ul.dropdown-menu li a{
	font-size: 13px;
	padding: 3px 20px;
	line-height: 30px;
}
header .header-tools .topnav-rgt ul.dropdown-menu li a:hover{
	background: none;
	color: var(--primary-color);
}
header .header-tools ul li{
	display: block;
	line-height: 50px;
	float: left;
	padding: 0 15px;
	border-right: 1px solid var(--border-color);
}
header .header-tools ul li,
header .header-tools ul li a{
	color: var(--text-color);
}
header .header-tools ul li a:hover{
	color: var(--primary-color);
}
header .header-tools ul li:first-child{
	border-left: 1px solid var(--border-color);
}
header .header-tools ul li span.icon{
	width: 21px;
	display: inline-block;
	margin-right: 5px;
}
header .header-tools ul li span.cart-count{
	display: inline-block;
	width: 30px;
	line-height: 30px;
	background-color: var(--primary-color);
	height: 30px;
	border-radius: 100%;
	color: #fff;
	text-align: center;
	margin-left: 5px;

}
.responsive-top-header{
	display: none;
}
/*-----------------------
	SLIDER
-----------------------*/
.slider{
	position: relative;
	margin-bottom: 30px;
}
.slider	.owl-carousel .item{
	position: relative;
}
.slider	.owl-carousel .item .item-caption{
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	text-align: center;

	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.slider	.owl-carousel .item .item-caption h2{
	font-weight: 900;
	text-transform:uppercase;
	color: #000;
}
.slider	.owl-carousel .owl-dots{
	position: absolute;
	right: -35px;
	bottom: 0;
}
.slider	.owl-carousel .owl-dots .owl-dot{
	display: block;
	margin-bottom: 10px;
}
.slider	.owl-carousel .owl-dots .owl-dot.active span, 
.slider	.owl-carousel .owl-dots .owl-dot:hover span{
	background-color: var(--primary-color);
}
.slider .shop-now a{
	width: 263px;
	margin: 0 auto;
	text-align: center;
	padding:10px 0;
	display: block;
	background-color: var(--primary-color);
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	font-size: 18px;
	position: absolute;
	bottom: 0;
	z-index: 2;
	left: 0;
	right: 0;
}
.slider .shop-now a:hover{
	letter-spacing: 1px;
	background-color: var(--secondary-color);

}

/*-----------------------
	PRODUCTS
-----------------------*/

.medium-block .feat-product-item{
	height: 235px;
	margin-bottom: 0;
}
.medium-block .feat-product-item:first-child{
	margin-bottom: 30px;
}
.large-block .feat-product-item{
	height: 500px;
	margin-bottom:0;
}

.feature-products{
	margin-bottom: 70px;
	padding-bottom: 70px;
	border-bottom: 1px solid var(--border-color);
}
figure.feat-product-item{
	position: relative;
	overflow: hidden;
}
figure.feat-product-item:after{
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.4);
	position: absolute;
	z-index: 1;
	opacity: 0;
}
figure.feat-product-item figcaption{
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	color: #fff;
	display: block;
	z-index: 2;
	text-align: center;
	padding: 0 10px;
	display: none;

	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
figure.feat-product-item figcaption .fig-title{
	text-transform: uppercase;
}
figure.feat-product-item figcaption a{
	display: block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	margin: 0 auto;
	border-radius: 100%;
	background: #ccc;
	color: #fff;
}
figure.feat-product-item:hover:after{
	opacity: 1;
}
figure.feat-product-item:hover figcaption{
	display: block;
}

.advertise-block .adv-content{
	margin: 30px 0;
	position: relative;
	height: 240px;
	overflow: hidden;
}


.advertise-block .adv-content figure{
	padding:0 50px;
	margin: 0;
	height: 240px;
	width: 100%;
}
.advertise-block .adv-content .adv-text {
	color: #fff;
	height: 100%;
}
.advertise-block .adv-content .adv-text p,
.advertise-block .adv-content .adv-text h2{
	text-transform: uppercase;
	font-weight: bold;
	margin: 0;
}
.advertise-block .adv-content .adv-text p{
	font-size: 26px;
	opacity: 0.5;
}
.advertise-block .adv-content .adv-text h2{
	font-size: 40px;
}

/*-----------------------
	ABOUT
-----------------------*/

.about{
	padding-bottom: 20px;
}
.about .about-desc{
	width: 58.33%;
	margin: 0 auto;
}
.about h4{
	font-weight: bold;
	color: var(--primary-color);
}
.about p{
	font-size: 18px;
	color: var(--text-color);
}

.info{
	padding: 50px 0;
	margin-top: 50px;
	border-top: 1px solid var(--border-color);
}
.deliver-product{
	margin: 0;
}
.deliver-product li{
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	display: inline-block;
	margin-right: 50px;
}
.deliver-product li:last-child{
	margin-right: 0;
}
.deliver-product span{
	display: inline-block;
	width: 53px;
	margin-right: 5px;
}
.deliver-product span.certified{
	width: 45px;
}
.social-icons{
	text-align: right;
}
.social-icons ul{
	display: inline-block;
}
.social-icons li{
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 20px;
}
.social-icons li:last-child{
	margin-right: 0;
}
.social-icons li a{
	position: relative;
	display: block;
}
.social-icons li a img{
	position: absolute;
	top: 0;
	left: 0;
}
.social-icons li a img.second{
	display: none;
}
.social-icons li a:hover img.second{
	display: block;
}

/*-----------------------
	FOOTER
-----------------------*/
footer{
	padding-top: 50px;	
	background-color: var(--dark-color);
}
footer .footer-menu{
	padding-bottom: 50px;
	margin-bottom: 50px;
	border-bottom: 1px solid var(--border-color);
}
footer .footer-menu li{
	display: inline-block;
	margin-right: 50px;
}
footer .footer-menu a{
	color: #fff;
	text-transform: uppercase;
	font-weight: 400;
}
footer .footer-menu a:hover,
footer .footer-menu a:focus,
footer .footer-menu a:active{
	font-weight: 600;
	color: var(--secondary-color);
}
footer .footer-products{
	padding-bottom: 35px;
	border-bottom: 1px solid var(--border-color);

}
footer .footer-products li{
	color: #fff;
	font-size: 13px;
	line-height: 1.7;
}
footer .credit{
	padding: 15px 0;
	margin-bottom: 0;
	color: #fff;
	font-size: 12px;
}
.footerimg{
	width: 35px !important;
	height: 35px !important;
}


/* ------------------------
	PRODUCTS LIST PAGE
-------------------------------*/

.product-list [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
}

.product-list-page .brief-phase p{
	margin-bottom: 40px;
}
.card{
	border-radius: 0;
	border: none;
	margin-bottom: 30px;
	padding: 0 15px;
}
.card .card-image{
	height: 300px;
	width: 100%;
	display: block;
}
.card .card-body{
	padding-left: 0;
	padding-right: 0;
}
.card .card-body .card-title{
	margin-bottom: 5px;
}
.card .card-body .card-title a{
	color: var(--text-color);
	font-size: 16px;
	text-transform: capitalize;
}
.card .card-body .card-title a:hover,
.card .card-body .card-title a:active,
.card .card-body .card-title a:focus{
	text-decoration:underline;
}

.card .button-group .btn{
	margin-right: 10px;
}
.card .card-body .price .current-value,
.price .current-value{
	font-weight: bold;
	font-size: 20px;
	color: var(--primary-color);
}
.card .card-body .price span.old-value,
.price span.old-value{
	font-weight: normal;
	font-size: 16px;
	position: relative;
}
.card .card-body .price span.old-value:after,
.price span.old-value:after{
	position: absolute;
	content: "";
	display: block;
	height: 1px;
	background: red;
	top: 50%;
	width: 100%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.card .card-body .price span.dis-rate,
.price span.dis-rate{
	color: red;
	font-size: 16px;
	margin-left: 10px;
}

.card.out-stock .card-image {
	position: relative;
}
.card.out-stock .card-image:after{
	content: "";
	display: block;
	background-color: rgba(0,0,0,.6);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}
.card.out-stock .card-image span{
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	text-align: center;
	color: #fff;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 2;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
}

/* ---------------------------
	PRODUCTS DETAIL PAGE
-------------------------------*/
.buy-now .product-detail{
	border-bottom: none;
}
.buy-now .QtyValidation span.text-danger,
.buy-now .remainingQuantity span.text-danger{
	margin-left: 0;
	margin-top: 5px;
}
.product-detail{
	clear: both;
	margin-bottom: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid var(--border-color);
}
.product-detail .product-image{
	padding-right: 40px;
}
.product-detail .product-summary{
padding-left: 40px;
}
.product-summary .product-title{
	border-bottom: 1px solid var(--border-color);
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.product-summary .product-title h3{
	font-size: 26px;
	text-transform: capitalize;
	margin: 0;
}
.product-summary .product-title p{
	margin: 0;
}
.product-summary .product-title .price .current-value{
	font-size: 28px;
}
.product-summary .short-summary{
	margin-bottom: 30px;
}
.product-summary .short-summary a{
	text-transform: capitalize;
	color: #839CA9;
}
.product-summary .inner-sub-title,
.product-detail-bottom .inner-sub-title{
	text-transform: capitalize;
	font-weight: normal;
}

/* .product-summary [class*="-list"] ul li,
.product-summary [class^="-list"] ul li{
	display: inline-block;
	margin-right: 5px;
}
.product-summary [class*="-list"] ul li:last-child,
.product-summary [class^="-list"] ul li:last-child{
	display: inline-block;
	margin-right: 0;
}
.product-summary [class*="-list"] ul li,
.product-summary [class^="-list"] ul li{
	width: 35px;
	height: 35px;
	text-align: center;
}
.product-summary .size-list ul li:last-child{
	width: auto;
}
.product-summary .size-list ul li a{
	text-align: center;
	display: block;
	border:1px solid var(--text-color);
	line-height: 35px;
	text-transform: uppercase;
	color: var(--text-color);
}
.product-summary .size-list ul li:last-child a{
	width: auto;
	padding:0 10px;
}
.product-summary .size-list ul li a:hover,
.product-summary .size-list ul li a:active,
.product-summary .size-list ul li a:focus{
	border:1px solid var(--text-color);
	color: #fff;
	background-color: var(--text-color);
}
.product-summary .color-list .white{
	background-color: #fff;
	border: 1px solid var(--text-color);
}
.product-summary .color-list .blue{
	background-color: #0094D9;
}
.product-summary .color-list .red{
	background-color: #CE181F;
}
.product-summary .color-list .green{
	background-color: #00A99D;
}
.product-summary .color-list .purple{
	background-color: #2E3192;
} */


.size-list li{
	position: relative;
	display: inline-block;
	margin-right: 5px;
}
.size-list li input[type="radio"]{
    position: absolute;
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
    opacity: 0;
}
.size-list li label{
    display: inline-block;
    min-width: 40px;
    color: var(--text-color);
    border:1px solid var(--text-color);
    text-align: center;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0 6px;
}
.size-list li:last-child label{
	width: auto;
}
.size-list li input[type="radio"]:checked + label{
	background-color: var(--text-color);
	color: #fff;
}

.color-list li{
	position: relative;
	display: inline-block;
	margin-right: 5px;
	width: 35px;
	height: 35px;
}
.color-list li input[type="radio"]{
    position: absolute;
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
    opacity: 0;
}
.color-list li label{
    display: inline-block;
    width: 35px;
    border:1px solid var(--text-color);
    text-align: center;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    text-transform: capitalize;
    cursor: pointer;
}
.color-list li input[type="radio"]:checked + label{
	box-shadow: 2px 2px 5px var(--text-color);
}

.qty-section .quantity{
	border: 1px solid var(--border-color);
	color: var(--text-color);
	padding-left: 5px;
	font-size: 14px;
	padding-right: 5px;
	max-width: 100px;
	text-align: center;
}
.qty-section .btn-minus,
.qty-section .btn-plus,
.qty-section .quantity{
	float: left;
	height: 40px;
}
.qty-section .btn-minus,
.qty-section .btn-plus{
    cursor: pointer;
    width: 9%;
}
.qty-section .btn-minus{
    background: #efefef;
    text-align: center;
    font-size: 23px;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    border-color:var(--border-color);
}
.qty-section .btn-plus{
    background: #efefef;
    text-align: center;
    font-size: 23px;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    border-color:var(--border-color);
}

.product-detail-bottom{
	margin-top: 30px;
}
.product-detail-bottom .share .inner-sub-title{
	float: left;
	line-height: 35px;
	margin: 0 10px 0 0;
}
.product-detail-bottom .share ul{
	margin: 0;
	float: left;
}
.product-detail-bottom .share ul li{
	display: inline-block;
	margin-right: 5px;
}
.product-detail-bottom .share ul li a{
	display: block;
	width: 35px;
	height: 35px;
	border: 1px solid var(--text-color);
	text-align: center;
	line-height: 35px;
	color: var(--text-color);
	font-size: 16px;
	-webkit-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
.product-detail-bottom .share ul li a:hover,
.product-detail-bottom .share ul li a:focus{
	color: #fff;
}
.product-detail-bottom .share ul li a.fb:hover,
.product-detail-bottom .share ul li a.fb:focus{
	background-color: #3B5998 ;	
	border-color: #3B5998 ;
}
.product-detail-bottom .share ul li a.twit:hover,
.product-detail-bottom .share ul li a.twit:focus{
	background-color: #00aced ;	
	border-color: #00aced ;
}
.product-detail-bottom .share ul li a.insta:hover,
.product-detail-bottom .share ul li a.insta:focus{
	background-color: #bc2a8d ;	
	border-color: #bc2a8d ;
}
.product-detail-bottom .share ul li a.youtube:hover,
.product-detail-bottom .share ul li a.youtube:focus{
	background-color: #bb0000 ;	
	border-color: #bb0000 ;
}

.similar-products h4{
	text-transform: capitalize;
	margin-bottom: 30px;
}

.similar-products .card .card-image{
	height: 200px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.btn-minus.disabled,
.btn-plus.disabled{
	pointer-events: none;
}

.remainingQuantity span.text-danger, .QtyValidation span.text-danger{
	display: inline-block;
	margin-top: 10px;
	margin-left: 15px;
	line-height: 14px;
}

.QtyValidation span.text-danger{
	float: left;
	margin-top: -1px;
}

.nprogress-busy, .loadershow, .modal.addedcart, #exampleModalCenter.modal{
	position: relative; 
	z-index: 3; 
	opacity: 0.5; 
	filter: alpha(opacity = 50); 
	top: 0; 
	bottom: 0; 
	left: 0; 
	right: 0; 
	width: 100%; 
	height: 100%; 
	background-color: rgba(0,0,0,0.3);
	cursor: pointer;
}
.loadershow .loader{
	position: absolute;
	top: 50%;
	left: 50%;
}
.modal.addedcart, #exampleModalCenter.modal {
    margin-top: 0 !important;
    position: fixed;
    height: 100%;
    padding-top: 40px;
    opacity: 1;
}
#exampleModalCenter.modal .modal-header{
	font-size: 16px;
	padding-bottom: 10px;
	border-bottom: none;
	display: unset;
	text-align: center;
}
#exampleModalCenter.modal .modal-header p{
	display: inline-block;
}
#exampleModalCenter.modal .modal-header button{
	padding: 0;
	position: absolute;
	right: 25px;
	top: 20px;
	outline: none;
}
#exampleModalCenter.modal .modal-body{
	padding-top: 0;
	text-align: center;
	padding-bottom: 0;
}
#exampleModalCenter.modal .modal-body a{
	margin-right: 30px;
	margin-bottom: 1rem;
}
.tab-content{
	padding: 10px;
}
.product-buynow .nav-tabs .nav-item a, 
.product-detail-page .nav-tabs .nav-item a{
	font-size: 16px;
    padding-bottom: 10px;
}
.product-buynow .nav-link.active, 
.product-detail-page .nav-link.active{
	border-bottom: none;
    border-bottom-color: currentcolor;
	border-color: transparent transparent #000 transparent;
	padding: 0;
    padding-bottom: 0px;
}
.product-buynow .tab-content, .product-detail-page .tab-content {
    padding: 20px 0 0 0;
}
/* ------------------------
	LOGIN PAGE
-------------------------------*/

.logreg-wrapper {
    background: rgba(0, 0, 0, 0) url("http://192.168.0.51/npwears/images/slider-1.jpg") no-repeat fixed center center / cover;
    font-size: 14px;
    background-size: cover;
    background-position: 0 0;
}

.logreg-wrapper [class*="col-md-"].pull-left,
.logreg-wrapper [class^="col-md-"].pull-left{
    text-align: center;
}

.login-txt-left {
  /* background: white none repeat scroll 0 0; */
  display: inline-block;
  font-size: 40px;
  font-weight: bolder;
  margin: 50px 0;
  text-align: left;
  text-transform: capitalize;
}

.login-txt-left a, .login-txt-left a p{
    color: #fff;
}

.login-txt-left .trade {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 10px;
}

.login-txt-left .protect_order {
  font-weight: normal;
}

.login-txt-left .learn-more {
    border: medium none;
	box-shadow: none;
	color: #fff;
	line-height: 25px;
	outline: medium none;
	width: auto;
	padding: 6px 12px;
}

.panel-heading{
    background: none !important;
    border-bottom: none !important;
}

.join-form.panel-default {
    background: #fff;
	border: none;
	box-shadow: 0 0 10px #ddd;
	margin: 30px 0 50px;
	width: 100%;
}
.join-form .panel-body{
    padding: 15px;
}
.join-form .form-horizontal{
    /* margin-top: 30px; */
}
.join-form .form-control{
    font-size: 15px;
    height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.join-form .form-control:active, .join-form .form-control:focus{
	
    border: 1px solid var(--primary-color);
    box-shadow: none;
}
.join-form .form-group.last { padding-bottom:0px; }
.join-form .form-horizontal .checkbox, .join-form .form-horizontal .radio{ padding-top: 0; }
.learn-more, .join-form .form-group button.login_reg{
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: var(--primary-color);
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
}
.learn-more:hover, .join-form .form-group button.login_reg:hover{
	background-color: var(--secondary-color); 
}
input[type="checkbox"] + label, input[type="radio"] + label{
    font-size: 14px;
}

.logreg-wrapper .checkbox label,
.logreg-wrapper .checkbox a{
	float: left;
}
.log_info_pass a{
    font-size: 13px;
    color: #696763;
    display: block;
    text-align: right;
}
.log_info_pass a:hover{
    color: var(--primary-color);
}
.login-info span{
    font-size: 14px;
}

.login-info span a{
    color: var(--primary-color);
}

.form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px;
}
.form-horizontal .join_reg_left .form-group{
    margin-right 0;
}

.form-horizontal .join_reg_right .form-group{
    margin-left: 0;
}

.panel-footer{
    background: none;
    border-top: 1px solid #ddd;
    font-size: 14px;
    padding: 10px 15px;
}
.panel-footer a{
    color: var(--primary-color);
    margin-left: 5px;
}

.panel_find_psw{
    float: none !important;
    margin: 0 auto;
}

.find_psw .join-form.panel-default{
    padding-top: 30px;
}

/* ------------------------
	CART PAGE
-------------------------------*/

.shopping-cart [class*="col-"]{
	padding-top: 20px;
}
.cart-review-content [class*="col-"] {
  padding: 0 5px;
  float: left;
}
.cart-review .section-title-2{
  border-bottom: 1px solid #ccc;
  color: #575757;
  padding-bottom: 15px;
  margin-bottom: 30px;
  text-transform: capitalize;
}
.cart-review-content.gray-bg {
  border: 1px solid #ccc;
  color: #575757;
  display: inline-block;
  padding: 25px 0;
  margin-bottom: 20px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.product-cart-img {
  border: 1px solid #ccc;
  margin-left: 5px;
}
.cart-qty div.qty-section > input{
  background: none;
  height: 35px;
  max-width: 43%;
}

.cart-qty .qty-section{
    float: none;
    height: 35px;
}
.stockout .qty-section {
  background: #e76262 none repeat scroll 0 0;
  border-radius: 2px;
  color: #fff;
  height: 22px;
}
.cart-qty .btn-minus, .cart-qty .btn-plus{
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.cart-qty .update-qty a{ color: #742b96; margin-top: 5px; }
.cart-qty .qty-section .QtyValidation + .update-qty a{ margin-top: 0; }
.cart-qty .qty-section .QtyValidation span, .cart-qty .qty-section .message span {
  display: inline-block;
  float: left;
  font-size: 13px;
  line-height: 15px;
  margin-top: 5px;
  margin-left: 0;
  text-align: left;
}

.product-cart-info {
  margin-bottom: 10px;
}
.product-cart-info .section-title-1,
.product-cart-info .section-title-1 a{
  color: #575757;
  font-size: 14px;
  margin-bottom: 5px;
  
}
.product-cart-info .section-title-1 a{
	color: #000;
	font-weight: 600;
  font-size: 17px;
  text-transform: capitalize;
}
.product-cart-info .section-title-1 a:hover{ color: var(--secondary-color); }
.cart-remark .fix-width {
  float: left;
  font-size: 14px;
  text-align: center;
  text-transform: capitalize;
  width: 29%;
}
.cart-remark .cart-delete.fix-width{ width: 13%; line-height: 84px; }
.cart-remark .fix-width h6{
  font-size: 15px;
  text-transform: capitalize;
  margin: 0 0 15px;
}
.cart-review-content span {
  display: block;
}
.product-cart-info em, .delivery-remark em {
  color: var(--primary-color);
  font-style: normal;
  margin-left: 3px;
}
.productlist-info {
  margin-top: 10px;
}
.productlist-info span em, .delivery-remark span em{
   color: #000; 
}
.cart-remark .fix-width em{
    font-style: normal;
    font-style: 15px;
    margin-left: 3px;
}
.cart-remark .sub-total span{
    font-weight: 600;
    color: #000;
}
.cart-remark .cart-delete.fix-width a{
	color: var(--primary-color);
	-webkit-appearance: none;
}
.cart-remark .cart-delete.fix-width a:hover{
	color: var(--secondary-color);
}
.btn.bigwidth{
	width: 100%;
}
.gray-bg{
	background-color: #f7f6f5;
}
.cart-confirm {
  float: left;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
}
.cart-confirm.is-fixed{
  position: fixed;
  width: 28.6%;
  z-index: 9;
  top: 0;
}
.totals-cart table{
	width: 100%;
}
.totals-cart td {
    line-height: 40px;
    font-size: 15px;
    font-weight: 300;
}
#shopping-cart-totals-table .checkout-types{
	margin: 1rem;
}
.totals-cart .price{
	display: block;
	text-align: right;
	color: #000;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 0;
}
.totals-cart tfoot .price{
	font-size: 17px;
}
.totals-cart .checkout-types li{
	clear: both;
    margin: 10px 0;
}
.cart-confirm h2 {
  border-bottom: 1px dashed #ccc;
  color: #575757;
  font-size: 17px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
}
.cart_sumarry {
  border-bottom: 1px solid #ccc;
  float: left;
  padding: 15px 0;
  margin-bottom: 20px;
  width: 100%;
}
.cart-confirm span {
  font-size: 13px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.cart-confirm span em {
  margin-left: 3px;
}
.charge {
  float: left;
  width: 100%;
}
.charge span.pull-left em{
    display: block;
    color: #ff7d0d;
    margin-left: 0;
}
.cart-total span {
  color: #575757;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
.right-grand-total {
    display: inline-block;
    width: 286px;
    margin-bottom: 20px;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 30px;
}
.cart-totals span{
	clear: both;
	font-size: 14px;
	font-weight: 600;
	line-height: 15px;
	padding: 5px 0;
	text-transform: uppercase;
}
.grand-total span {
    font-size: 20px;
    margin-left: 5px;
}
.cart-order-btn {
  clear: left;
}
.sub-total-sumarry .btn.btn-default {
	font-size: 14px;
    float: right;
    border: 1px solid #ccc;
    color: #aaa;
    padding: 10px;
}
.sub-total-sumarry .btn.btn-default:hover{
	border: 1px solid var(--primary-color);
	color: var(--primary-color);
}
.cart-order-btn button.btn.disabled
.cart-order-btn button.btn[disabled] {
  background: #c0a1ce none repeat scroll 0 0;
  color: #ffffff;
  
}
.cart-btn .update_shopping form{
	float: right;
	margin-top: 30px;
}
.shipping-table-info .table thead th:first-child, 
.shipping-table-info .table tbody td:first-child {
    border-left: none;
    padding-left: 0;
}
.right-grand-total .total-calculate .pull-left {
    text-align: left;
    width: 100%;
}
.right-grand-total .total-calculate .pull-left a:hover{
	color: var(--secondary-color);
}
.shipping-table-info .table {
    margin-bottom: 0;
}
.shipping-table-info .table thead th, 
.shipping-table-info .table tbody td {
    border: none;
        border-top-width: medium;
        border-left-width: medium;
        border-top-style: none;
        border-left-style: none;
        border-top-color: currentcolor;
        border-left-color: currentcolor;
    border-left: 1px solid #ccc;
    text-align: left;
    text-transform: capitalize;
    font-weight: 600;
    padding: 5px 10px;
}
.shipping-table-info .table tbody td {
    font-size: 13px;
    font-weight: normal;
}
.cart-review .checkout-btn {
    clear: both;
    margin: 20px 0;
}
.cart-review .checkout-btn button{
	padding: 10px;
	font-size: 14px;
	text-transform: uppercase;
}
.cart-review .checkout-btn {
    clear: both;
    margin: 20px 0;
}
.btn.btn-primary.chk-btn {
    background-color: var(--primary-color);
    color: #ffffff;
    font-size: 14px;
    border: medium none;
    box-shadow: none;
    padding: 10px;
    text-transform: uppercase;
    outline: none;
}
.btn.btn-primary.place-order{ width: 100%; padding: 7px; }
.btn.btn-primary.chk-btn:hover{
	background-color: var(--secondary-color);
}
.shopping-cart form.checkout_form  .form-group .form-control{
	background: none;
}
.cart-logo-dis {
    margin: 40px 0;
}
.cart-logo > p {
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 15px;
}
.cart-logo > p a, .cart-logo > p a:hover{
	color: var(--primary-color);
}
.accordion .panel-group {
    margin-bottom: 0;
}
.accordion .panel-group .panel {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: none;
    box-shadow: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
}
.accordion .panel-heading {
    background: none;
    border: medium none;
        border-bottom-width: medium;
        border-bottom-style: none;
        border-bottom-color: currentcolor;
    padding: 0;
}
.accordion .panel-heading h4 {
    border-bottom: none;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.panel-title > a::before {
    color: var(--primary-color);
    float: right !important;
    font-family: "FontAwesome";
    font-weight: normal;
    font-size: 13px;
    content: "\f068";
    padding-right: 5px;
}

.panel-title > a.collapsed::before {
    float: right !important;
    content: "\f067";
}
.accordion .panel-heading .panel-title > a {
    color: #575757;
    font-size: 15px;
    font-weight: 600;
}
.accordion .panel-default .panel-collapse .panel-body {
    border: none;
    padding: 0 0 15px;
    font-size: 14px;
}
.accordion .panel-group .panel:last-child h4 {
    border-bottom: 0;
    padding: 0;
}

.cart-empty{
	text-align: center;
	padding: 100px;
}

/* ---------------------------
	BUY NOW PAGE
-------------------------------*/

/* .aside-form{
	border-bottom: 1px solid var(--border-color);
} */
#buynow-product .product-detail .product-summary{
	padding-left: 15px;
}
.product-buynow .product-detail .form-group.qty-section{
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
	position: relative;
}
.product-buynow .product-detail .form-group label{
	font-size: 15px;
	text-transform: capitalize;
	float: left;
	width: 27%;
	margin-right: 10px;
	padding-top: 10px;
	line-height: 16px;
}
.product-buynow .product-detail .form-group input.error{
	border: 1px solid var(--red);
}
.product-buynow .product-detail .form-group label.error{
	display: none !important;
}
.product-buynow .product-detail .form-group input{
	width: 70%;
}
.product-buynow .product-detail .form-group input.quantity{
	max-width: 52%;
}

.product-buynow .product-detail .bigwidth{
	width: 100%;
} 
/* ---------------------------
	ORDER RECEIVED PAGE
-------------------------------*/
.order-receive{
	text-align: center;
	padding: 0 15px;
}
.received_order{
	text-align: center;
    display: inline-block;
    width: 650px;
    float: right;
    margin: 10px auto 0;
    border: 1px solid #B7C3C9;
    padding: 30px;
}
.received_order h2{
	border-bottom: 4px solid #000;
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.received_detail{
	margin-top: 30px;
	padding-left: 30px;
}
.received_detail span:first-child{
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
}
.received_detail span{
	display: block;
	color: #000;
	font-size: 18px;
	margin-bottom: 15px;
}
.received_detail .pull-right a.btn{
	color: #ffffff;
	padding: 10px 16px;
	border: none;
	margin-top: 20px;
}
.received_detail .pull-right a.btn:hover{
	background: var(--secondary-color);
}
/* ---------------------------
	ABOUT PAGE
-------------------------------*/
.page-section{
	margin-top: 60px;
}
.page-section .content.m30{
	margin-top: 10px;
}